body {
    margin-top: 40px;
    overflow-x: hidden;
}

.jumbotron {
    background-image: url(../img/header-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: rgb(214, 214, 214);
    overflow: hidden;
}

.jumbotron img {
    width: 200px;
    border: 5px solid rgb(214, 214, 214);
}

hr {
    width: 200px;
    border-top: 3px solid gray;
}

.portfolio {
    background-color: rgb(230, 230, 230);
}

.portfolio .thumbnail {
    opacity: 0;
    transition: 1s;
}

.portfolio .thumbnail.muncul {
    opacity: 1;
}

section {
    min-height: 300px;
    margin-bottom: 20px;
}

.row p {
    opacity: 0;
    transition: .5s;
}

.row p.kiri {
    transform: translate(-50px, 0);
}

.row p.kanan {
    transform: translate(50px, 0);
}

.row p.muncul {
    opacity: 1;
    transform: translate(0,0);
}

footer {
    margin-top: 5px;
    background-color: rgb(230, 230, 230);
    padding: 10px;
}